$color-1: rgb(192, 45, 106);
$color-2: rgb(39, 139, 14);
$color-3: rgb(214, 143, 143);
$color-4: rgb(83, 31, 180);
$color-5: rgb(29, 111, 218);

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {
    border: none;
    background-color: transparent;

    &::placeholder {
        color: lightgray;
    }
}

.search-icon {
    height: 20px;
    width: 20px;
}

.limited-offer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;

}

.slider {
    background: url(https://source.unsplash.com/9tqAeLDQT-o/1600x800);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

.slider-wrapper {
    display: flex;
    width: 500vw;
    transition: all 0.5s ease-in-out;
}

.slider-item {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:nth-child(1) {
        .slider-bg {
            background-color: $color-1;
        }

        .slider-price {
            color: $color-1;
        }
    }

    &:nth-child(2) {
        .slider-bg {
            background-color: $color-2;
        }

        .slider-price {
            color: $color-2;
        }
    }

    &:nth-child(3) {
        .slider-bg {
            background-color: $color-3;
        }

        .slider-price {
            color: $color-3;
        }
    }

    &:nth-child(4) {
        .slider-bg {
            background-color: $color-4;
        }

        .slider-price {
            color: $color-4;
        }
    }

    &:nth-child(5) {
        .slider-bg {
            background-color: $color-5;
        }

        .slider-price {
            color: $color-5;
        }
    }


}

.slider-bg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;

    z-index: -1;
}

.slider-title {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.slider-price {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px grey solid;
}

.buy-button {
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 1px grey solid;
    cursor: pointer;
    background-color: black;

    &:hover {
        background-color: grey;
        color: black;
    }
}