body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}


.search-icon {
    height: 20px;
    width: 20px;
}