html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: grey;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-input {
  border: none;
  background-color: transparent;
}
.search-input::-moz-placeholder {
  color: lightgray;
}
.search-input:-ms-input-placeholder {
  color: lightgray;
}
.search-input::placeholder {
  color: lightgray;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.limited-offer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
}

.slider {
  background: url(https://source.unsplash.com/9tqAeLDQT-o/1600x800);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: 500vw;
  transition: all 0.4s ease-in-out;
}

.slider-item {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider-item:nth-child(1) .slider-bg {
  background-color: rgb(192, 45, 106);
}
.slider-item:nth-child(1) .slider-price {
  color: rgb(192, 45, 106);
}
.slider-item:nth-child(2) .slider-bg {
  background-color: rgb(39, 139, 14);
}
.slider-item:nth-child(2) .slider-price {
  color: rgb(39, 139, 14);
}
.slider-item:nth-child(3) .slider-bg {
  background-color: rgb(214, 143, 143);
}
.slider-item:nth-child(3) .slider-price {
  color: rgb(214, 143, 143);
}
.slider-item:nth-child(4) .slider-bg {
  background-color: rgb(83, 31, 180);
}
.slider-item:nth-child(4) .slider-price {
  color: rgb(83, 31, 180);
}
.slider-item:nth-child(5) .slider-bg {
  background-color: rgb(29, 111, 218);
}
.slider-item:nth-child(5) .slider-price {
  color: rgb(29, 111, 218);
}

.slider-bg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.slider-title {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.slider-price {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 1px grey solid;
}

.buy-button {
  position: absolute;
  top: 50%;
  right: 10%;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  border: 1px grey solid;
  cursor: pointer;
  background-color: black;
}
.buy-button:hover {
  background-color: grey;
  color: black;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-img {
  width: 50px;
  height: 50px;
}

.feature-title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.feature-description {
  color: grey;
  width: 50%;
  height: 100px;
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 24px 35px 42px -8px rgb(192, 45, 106);
}

.pay-title {
  font-size: 20px;
  color: darkgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.pay-input {
  padding: 10px;
  margin: 10px 0px 10px 10px;
  border: none;
  border-bottom: 1px solid grey;
}
.pay-input::-moz-placeholder {
  color: lightgrey;
}
.pay-input:-ms-input-placeholder {
  color: lightgrey;
}
.pay-input::placeholder {
  color: lightgrey;
}

.card-icons {
  display: flex;
}

.card-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.small {
  width: 30%;
}

.pay-button {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  box-shadow: 24px 35px 42px -8px rgb(192, 45, 106);
  background-color: rgb(39, 139, 14);
  color: beige;
  border: none;
  cursor: pointer;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  position: relative;
}

.product-img {
  width: 50%;
}

.product-details {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.product-title {
  font-size: 75px;
  font-weight: 900;
}

.product-description {
  font-size: 24px;
  color: rgb(85, 84, 84);
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 15px;
  cursor: pointer;
}
.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.product-button {
  float: right;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border: none;
}
.product-button:hover {
  background-color: white;
  color: black;
  box-shadow: 10px 10px 5px rgb(192, 45, 106);
}/*# sourceMappingURL=style.css.map */