body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {
    border: none;
    background-color: transparent;

    &::placeholder {
        color: lightgray;
    }
}

.search-icon {
    height: 20px;
    width: 20px;
}

.limited-offer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;

}

.slider {
    background: url(https://source.unsplash.com/NqXqLPhdbvU/800x600);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

.slide-wrapper {
    
}